DISCORD_TOKEN=PASTE_MY_TOKEN_HERE
DATABASE_PATH=data/bfc.sqlite3
GUILD_ID=
COMMAND_GUILD_ID=
DEFAULT_RATING_POINTS=1000
STAFF_ROLE_NAME=Tournament Staff
BFC_ADMIN_ROLE_NAME=BFC Admin
MATCH_RESULTS_CHANNEL_NAME=match-results
GRAND_FINAL_RESET_DEFAULT=true
TOURNAMENT_CATEGORY_NAME=BFC Tournaments
TIER_1_ROLE_NAME=Tier 1
TIER_2_ROLE_NAME=Tier 2
TIER_3_ROLE_NAME=Tier 3
