DISCORD_TOKEN=replace_with_your_bot_token
DATABASE_PATH=data/bfc.sqlite3
COMMAND_GUILD_ID=
TOURNAMENT_CATEGORY_NAME=BFC Tournaments
MATCH_RESULTS_CHANNEL_NAME=match-results
TOURNAMENT_STAFF_ROLE_NAME=Tournament Staff
BFC_ADMIN_ROLE_NAME=BFC Admin
GRAND_FINAL_RESET_DEFAULT=true
TIER_1_ROLE_NAME=Tier 1
TIER_2_ROLE_NAME=Tier 2
TIER_3_ROLE_NAME=Tier 3
